* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #CFCBCA;
  color: white;
  font-family: Arial, sans-serif, system-ui;
  font-size: 20px;
}

.background-left,
.background-right {
  position: fixed;
}

.background-left {
  content: url("./images/boymoder.png");
  left: 80px;
  bottom: 200px;
  transform: scale(-1.75, 1.75);
}

.background-right {
  content: url("./images/girlmoder.png");
  right: 40px;
  bottom: 190px;
  transform: scale(1.75, 1.75);
}

.content {
  background-color: #627264;
  height: 100vh;
  width: 1440px;
  margin: 0 auto;
}

.recipe-content {
  height: auto;
  width: 75%;
  min-width: 564px;
}

.subject {
  font-size: 64px;
  padding: 32px 16px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif, system-ui;
}

.subject > span {
  display: inline-block;
}

.subject > span::first-letter {
  color: #F74020;
}

.gordon-ramsay {
  display: block;
  border: 4px solid black;
  margin: 0 auto;
}

.navigation {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.navigation > h2 {
  font-size: 48px;
  margin: 20px 0;
}

.link-list {
  list-style: none;
}

.link-list > li {
  margin-bottom: 8px;
}

.link-list > li:last-child {
  margin-bottom: 0;
}

.link-list > li > a,
.standalone-link {
  color: black;
  display: block;
  padding: 16px;
  font-family: Helvetica, Arial, sans-serif, system-ui;
  text-decoration: none;
  background-color: #CFCBCA;
}

.link-list > li > a:hover,
.standalone-link:hover {
  border: 4px solid #CFCBCA;
  padding: 12px;
  color: white;
  background-color: #F74020;
}

.link-list > li > a:hover::before,
.standalone-link:hover::before,
.recipe-desc-link:hover::before {
  position: absolute;
  content: url("./images/k-on-mugi-pointing.png");
  transform: scale(-.5, .5) translate(130%, -100%);
  pointer-events: none;
}

.image-showcase {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 16px;
  place-items: center;
  padding: 32px;
}

.image-showcase > div {
  width: fit-content;
}

.visual-paragraph-header {
  background-color: #CFCBCA;
  width: max-content;
  padding: 8px;
  margin: 16px auto;
}

.visual-paragraph-header > h2 {
  color: black;
  font-size: 48px;
  text-align: center;
}

.visual-paragraph-header > img {
  display: block;
}

.section-content {
  padding-bottom: 64px;
  font-size: 24px;
  width: 50%;
  margin: 0 auto;
}

.section-content > p {
  text-align: center;
}

.section-content > ul {
  list-style: none;
}

.section-content > ul > li,
.section-content > ol > li {
  padding-bottom: 8px;
}

.recipe-credit {
  text-align: center;
  padding: 32px;
}

.recipe-credit-link,
.recipe-desc-link {
  color: black;
  padding: 8px;
  font-family: Helvetica, Arial, sans-serif, system-ui;
  text-decoration: none;
  background-color: #CFCBCA;
}

.recipe-credit-link:hover,
.recipe-desc-link:hover {
  border: 4px solid #CFCBCA;
  padding: 4px;
  color: white;
  background-color: #F74020;
}

.recipe-credit-link:hover::after {
  position: absolute;
  content: url("./images/k-on-mugi-pointing.png");
  transform: scale(.50, .50) rotate(-90deg) translate(102.5%, -150%);
  pointer-events: none;
}